@import "./variables.scss";
@import "./fonts.scss";
@import "./base.scss";

.container__center-block1 {
    background-image: $bg-image;
    height: 600px;
}

@mixin displayFlexJustifyContent {
    display: flex;
    justify-content: space-between;
}

.header {
    position: fixed;
    background: $bg-image no-repeat top;
    background-size: cover;
    width: 1440px;
    padding-bottom: 30px;
    z-index: 5;

    .header__wrapper {
        @include displayFlexJustifyContent;
        width: 1160px;
        margin: 0 auto;
        padding-top: 25px;
    }

    .header__logo {
        height: 28px;
        width: 83px;
        color: $color-dark-x1;
        font-family: $font-family;
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 0;
        line-height: 28px;
    }

    .navbar__list {
        @include displayFlexJustifyContent;
        list-style-type: none;
        width: 455px;
        margin-top: 3px;
    }
    
    .navbar__link {
        text-decoration: none;
        height: 25px;
        width: 39px;
        color: $color-dark;
        font-family: $font-family;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 25px;

        &:hover,
        &:focus,
        &:active {
            font-weight: bold;
            text-decoration: underline;
        }        
    }  
    
    .current-link {
        font-weight: bold;
        text-decoration: underline;
    }
}

.ideas__wrapper,
.about__media,
.posts__block,
.portfolio__block,
.form__wrapper,
.footer__wrapper {
    margin: 0 auto;
    width: 1160px;
}

.ideas {
    width: 100%;
    background: $bg-image no-repeat top;
    background-position: 0px 0px;
    padding-top: 10px;
    padding-bottom: 88px;

    .ideas__title {
        height: 74px;
        width: 440px;
        color: $color-dark;
        font-family: $font-family;
        font-size: 29px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 37px;
        margin-top: 142px;
    }

    .ideas__text {
        margin: 22px 0;
        height: 78px;
        width: 610px;
        color: $color-dark;
        font-family: $font-family;
        font-size: 17px;
        letter-spacing: 0;
        line-height: 26px;
    }

    .ideas__btn {
        @include displayFlexJustifyContent;
        width: 250px;
    }
    
    .ideas__btn-explore {
        color: $color-white;
        font-family: $font-family;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 25px;
        height: 45px;
        width: 100px;
        border-radius: 5px;
        background-color: $color-dark-x1;

        &:hover {
            background-color: $color-dark-x3;
            cursor: url("../img/hand-cursor-grey.svg"), pointer;
        }
    }
    
    .ideas__btn-learn {
        @extend .ideas__btn-explore;
        width: 125px;
        color: $color-dark;
        box-sizing: $border-box;
        border: 1px solid $color-dark;
        background-color: $color-light-x2;

        &:hover {
            @extend .ideas__btn-explore:hover;
            color: $color-white;
        }
    }
}

.about__title {
    height: 39px;
    width: 97px;
    color: $color-dark;
    font-family: $font-family;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 39px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.about__line {
    position: relative;
    top: 2px;
    display: block;
    margin: 0 auto;
    box-sizing: $border-box;
    height: 8px;
    width: 92px;
    border: 1px solid $color-dark;
    border-top: none;

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 3px;
        height: 1px;
        left: -4px;
        top: 0;
        background-color: $color-dark;
    }

    &::after {
        @extend .about__line::before;
        left: 91px;
    }
}

.about__text {
    height: 26px;
    width: 442px;
    color: $color-dark;
    font-family: $font-family;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
    padding-left: 4px;
}

.media__pic {
    height: 592px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.media__pic-item1 {
    position: relative;
    height: 184px;
    width: 260px;
    background-color: $color-pink;
    background-image: $gradient-to-green;
    border-radius: 5px;

    &::after {
        content: ""; 
        position: absolute; 
        top: 0; 
        right: 0; 
        width: 37px; 
        height: 40px; 
        background-image: url(../img/corner.svg); 
        background-repeat: no-repeat; 
        background-position: center; 
    }
}

.media__pic-item2 {
    @extend .media__pic-item1;
    transform: scaleX(-1);
    background-color: $color-light-blue;
    background-image: $gradient-to-blue;

    &::before {
        @extend .media__pic-item1::after;
        height: 41px; 
    }
}

.media__pic-item3 {
    @extend .media__pic-item1;
    background-color: $color-pink;
    background-image: $gradient-to-red;

    &::after {
        @extend .media__pic-item1::after;
    }
}

.item__pic1 {
    height: 65px;
    width: 65px;
    position: absolute;
    top: 45px;
    right: 98px;
    bottom: 74px;
    left: 97px;
}

.item__pic2 {
    @extend .item__pic1;
    top: 50px;
    bottom: 78px;
    transform: scaleX(-1);
    margin-top: -4px;
}

.item__pic3 {
    @extend .item__pic1;
    bottom: 75px;
}

.about__media {
    margin-top: 60px;
    display: flex;
    height: 592px;
}

.item-title1 {
    height: 28px;
    width: 87px;
    color: $color-dark;
    font-family: $font-family;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 128px;
    right: 87px;
    bottom: 28px;
    left: 86px;
}

.item-title2 {
    @extend .item-title1;
    width: 57px;
    right: 102px;
    left: 101px;
    transform: scaleX(-1);
}

.item-title3 {
    @extend .item-title1;
    width: 66px;
    right: 97px;
    left: 97px;
}

.media__video {
    position: relative;
}

.media__video-pic {
    position: inherit;
}

.media__video-play {
    position: absolute;
    top: 260px;
    right: 394px;
    height: 72px;
    width: 72px;
}

.posts__title {
    @extend .about__title;
    width: 130px;
    padding-right: 3px;
    line-height: 40px;
}

.posts__line {
    @extend .about__line;
    width: 122px;

    &::before {
        @extend .about__line::before;
    }

    &::after {
        @extend .about__line::before;
        left: 121px;
    }
}

.posts__text {
    @extend .about__text;
    width: 460px;
    height: 52px;
    padding-left: 0px;
    margin-top: 18px;
}

.posts__block {
    @include displayFlexJustifyContent;
    margin-top: 60px;
}

.block__first-item,
.block__second-item,
.block__third-item {
    text-decoration: none;
}

.block__first-title,
.block__second-title,
.block__third-title {
    height: 32px;
    width: 360px;
    color: $color-dark;
    font-family: "Hind Siliguri Medium";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 20px;
}

.block__first-description,
.block__second-description,
.block__third-description {
    height: 96px;
    width: 360px;
    color: $color-dark;
    font-family: $font-family;
    font-size: 15px;
    letter-spacing: 0;
    line-height: $size-24px;
    margin-top: 5px;
}

.block__first-img,
.block__second-img,
.block__third-img {
    margin-bottom: -4px;
}

.block__first-info,
.block__second-info,
.block__third-info {
    margin-top: 20px;
    color: $color-grey;
    font-family: $font-family;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
}

.dot,
.minutes,
.comment-icon {
    margin-left: 7px;
}

.main__portfolio {
    @extend .ideas__wrapper;
}

.main__portfolio,
.main__about,
.main__contact {
    padding-top: 30px;
    margin-top: -30px;
}

.portfolio__title {
    @extend .about__title;
    width: 166px;
}

.portfolio__line {
    @extend .about__line;
    width: 155px;

    &::before {
        @extend .about__line::before;
    }

    &::after {
        @extend .about__line::before;
        left: 154px;
    }
}

.portfolio__text {
    @extend .about__text;
    height: 52px;
    margin-top: 18px;
    padding-right: 5px;
}

.portfolio__block {
    @include displayFlexJustifyContent;
    margin-top: 60px;
    
    .portfolio__block-1,
    .portfolio__block-2,
    .portfolio__block-3 {
        position: relative;
        height: 243px;
        cursor: url("../img/hand-cursor-white-2.svg"), pointer;
    }
    
    .portfolio__block-item {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 60px;
        width: 101px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        visibility: hidden;
    }
    
    .portfolio__block-1:hover > .portfolio__block-item,
    .portfolio__block-2:hover > .portfolio__block-item,
    .portfolio__block-3:hover > .portfolio__block-item {
        cursor: url("../img/hand-cursor-white-2.svg"), pointer;
        visibility: visible;
    }

    @mixin hover-shadow {
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0px 5px 10px 0 grey;
    }

    .portfolio__block-1:hover, .portfolio__block-1:focus, 
    .portfolio__block-2:hover, .portfolio__block-2:focus,
    .portfolio__block-3:hover,  .portfolio__block-3:focus {
        @include hover-shadow;
    }
    
    .block-1__title {
        position: absolute;
        top: 100px;
        left: 65px;
        height: 32px;
        width: 230px;
        color: $color-white;
        font-family: $font-family;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .block-1__text {
        position: absolute;
        top: 127px;
        left: 100px;
        height: 25px;
        width: 160px;
        color: $color-white;
        font-family: $font-family;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 25px;
        text-align: center;
    }
    
    .block-2__title {
        @extend .block-1__title;
    }

    .block-2__text {
        @extend .block-1__text;
    }
    
    .block-3__title {
        @extend .block-1__title;
    }
    
    .block-3__text {
        @extend .block-1__text;
    }

    .block-3__img {
        height: 244px;
        width: 360px;
        border-radius: 6px;
    }

    .block-item__attach,
    .block-item__search {
        height: 17px;
        width: 17px;
    }

    .portfolio__item {
        margin: 0 20px;
        transition: all 0.5s;
        // transition-property: all;
        // transition-duration: 0.5s;
        // transition-timing-function: ease;
        // transition-delay: 0s;

        &:first-of-type {
            margin: 0 20px 0 0;
        }
    }  
}

.portfolio__btn {
    @include displayFlexJustifyContent;
    width: 360px;
    margin: 0 auto;
    margin-top: 41px;
}

.portfolio__btn-left {
    height: 45px;
    width: 45px;
    transform: rotate(90deg);
    border-radius: 5px;
    border: 1px solid $color-dark;
    background-color: $color-white;

    &:hover {
        box-sizing: $border-box;
        height: 45px;
        width: 45px;
        border: 1px solid $color-dark;
        border-radius: 5px;
        background-color: $color-white;
        box-shadow: 3px 0px 10px 0 $color-dark-x5;
        cursor: url("../img/hand-cursor-dark.svg"), pointer;
    }
}

.left-button,
.right-button {
    margin-top: 4px;
}

.portfolio__btn-right {
    @extend .portfolio__btn-left;
    transform: rotate(-90deg);

    &:hover {
        @extend .portfolio__btn-left:hover;
        box-shadow: -3px 0px 10px 0 $color-dark-x5;
    }
}

.portfolio__btn-works {
    color: $color-dark;
    font-family: $font-family;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    box-sizing: $border-box;
    height: 45px;
    width: 136px;
    border: 1px solid $color-dark;
    border-radius: 5px;
    margin-left: calc(50% - 68px);
    margin-top: 40px;
    background-color: $color-white;

    &:hover {
        background-color: $color-dark-x3;
        cursor: url("../img/hand-cursor-grey.svg"), pointer;
        color: $color-white;
    }
}

.main__testimonials {
    position: relative;
    margin-top: 60px;
}

.testimonials__title {
    @extend .about__title;
    width: 134px;
    position: absolute;
    top: 0;
    left: calc(50% - 67px);
}

.testimonials__line {
    @extend .about__line;
    width: 135px;
    position: absolute;
    top: 119px;
    left: calc(50% - 68px);  

    &::before {
        @extend .about__line::before;
    }
    
    &::after {
        @extend .about__line::before;
        left: 134px;
    }
}

.testimonials__slider {
    @include displayFlexJustifyContent;
    position: absolute;
    top: 184px;
    left: calc(50% - 280px);
    width: 560px;
}

.slide__container {
    display: flex;
    overflow: hidden;
}

.slider__btn-left {
    @extend .portfolio__btn-left;
    margin-top: 110px;
    position: absolute;
    left: -76px;

    &:hover {
        @extend .portfolio__btn-left:hover;
    }
}

.slider__div {
    display: flex;
    box-sizing: border-box;
    height: 265px;
    width: 560px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0 grey;
    cursor: pointer;
}

.slider__div-1 {
    height: 265px;
    width: 280px;
    background-color: $color-dark-x4;
    border-radius: 5px 0 0 5px;
}

.div-1__wrapper {
    margin-left: 33px;
    margin-top: 74px;
    width: 200px;
}

.div-1__sign {
    height: 45px;
    width: 13px;
    color: $color-white;
    font-family: $font-family;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 45px;
}

.slide__wrapper {
    display: flex;
}

.slider__div-text {
    position: relative;
    height: 104px;
    width: 180px;
    color: $color-white;
    font-family: "Hind Siliguri SemiBold";
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -21px;
    margin-left: 14px;

    &::before {
        content: '\"';
        display: block;
        position: absolute;
        top: -12px;
        left: -16px;
        font-style: italic;
        font-size: 28px;
        font-family: "Hind Siliguri SemiBold";
    }
}

.slider__div-name {
    width: 180px;
    color: $color-white;
    letter-spacing: 0;
    margin-left: 14px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
    margin-top: 37px;
    font-family: "Hind Siliguri";
}

.slider__div-role {
    @extend .slider__div-name;
    width: 120px;
    font-weight: 300;
    margin-top: 0;
}

.slider__pic {
    border-radius: 0 5px 5px 0;
}

.slider__btn-right {
    @extend .portfolio__btn-left;
    transform: rotate(-90deg);
    margin-top: 110px;
    position: absolute;
    right: -75px;

    &:hover {
        @extend .portfolio__btn-left:hover;
        box-shadow: -3px 0px 10px 0 $color-dark-x5;
    }
}

.contact__title {
    @extend .about__title;
    width: 116px;
    margin-top: 76px;
}

.contact__line {
    @extend .about__line;
    width: 114px;

    &::before {
        @extend .about__line::before;
    }
    
    &::after {
        @extend .about__line::before;
        left: 113px;
    }
}

.contact__text {
    @extend .about__text;
    height: 52px;
    margin-top: 15px;
    padding: 2px 0 0 0;
}

.contact__social-networks {
    @include displayFlexJustifyContent;
    width: 110px;
    margin-top: 84px;
    margin-left: 140px;
    list-style-type: none;
}

.contact__body {
    width: 1440px;
    height: 611px;
    margin-top: 17px;    
    background-color: $color-lightf8;
}

.contact__wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.contact__block {
    width: 1160px;
    margin: 0 auto;
}

.contact__form {
    margin: 0 auto;
    height: 623px;
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    background-color: $color-white;
    position: relative;
    top: -65px;
    box-shadow: 0 10px 20px 1px $color-grey;
    border-radius: 5px;
    margin-top: -4px;
}

.form__proposal {
    display: flex;
    height: 65px;
    width: 760px;
    background-color: $color-lightf8;
}

.form__proposal-img {
    margin: 10px 10px 10px 20px;
    height: 45px;
    width: 45px;
}

.form__proposal-text {
    @extend .about__text;
    height: 42px;
    width: 564px;
    font-weight: 500;
    line-height: 21px;
    margin: 12px 65px 11px 0;
    text-align: left;
}

.form__info {
    display: flex;
    width: 760px;
}

.form__info-registration {
    height: 558px;
    width: 380px;
}

.form__input-label {
    display: block;
    position: relative;
    margin: 24px 30px 5px 31px;
    font-family: "Hind Siliguri";
}

.showpass__icon {
    margin-left: 198px;
}

.showpass__text {
    height: 23px;
    width: 33px;
    color: $color-dark;
    font-family: $font-family;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 23px;
}

.form__input {
    padding: 10px;
    box-sizing: $border-box;
    font-size: 15px;
    font-family: "Hind Siliguri";
    height: 45px;
    width: 320px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin: 0px 30px 0 31px;

    &:focus {
        box-sizing: $border-box;
        height: 45px;
        width: 320px;
        outline: 0;
        border: 1px solid $color-dark;
        border-radius: 5px;
    }
}

.form__info-btn {
    color: $color-white;
    font-family: $font-family;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    height: 45px;
    width: 144px;
    border-radius: 5px;
    background-color: $color-dark;
    margin: 26px 0 0 31px;

    &:hover {
        background-color: $color-dark-x3;
        cursor: url("../img/hand-cursor-grey.svg"), pointer;
    }
}

.form__info-text {
    @extend .about__text;
    height: 56px;
    width: 320px;
    line-height: 28px;
    margin: 40px 0 0 27px;
    text-align: left;
}

.form__info-mail {
    font-weight: bold;
    text-decoration: underline;
}

.mail__link {
    color: #4D4949;
    font-family: "Hind Siliguri Bold";
    cursor: url("../img/hand-cursor-grey.svg"), pointer;
}

.info__map-pic {
    height: 558px;
    width: 380px;
}

.contact__block-title {
    padding-top: 105px;
    height: 39px;
    width: 251px;
    color: $color-dark;
    font-family: "Hind Siliguri SemiBold";
    font-size: $size-24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 33px;
}

.block-steps__1-title {
    position: relative;
    height: 26px;
    width: 360px;
    color: $color-dark;
    font-family: "Hind Siliguri Bold";
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    margin-top: 36px;
    margin-left: 25px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -26px;
        top: 3px;
        box-sizing: $border-box;
        height: 17px;
        width: 17px;
        border: 3px solid $color-dark;
        border-radius: 50%;
        box-shadow: 0 1px 4px 0 $color-black;
        z-index: 3;
    }

    &::after {
        content: "";
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: absolute;
        left: -19px;
        top: 10px;
        box-sizing: $border-box;
        background-color: $color-dark;
    }
}

.block-steps__2-title {
    @extend .block-steps__1-title;
    margin-top: 30px;
    font-family: "Hind Siliguri Bold";
    margin-left: 26px;

    &::before {
        @extend .block-steps__1-title::before;
    }

    &::after {
        @extend .block-steps__1-title::after;
    }
}

.block-steps__3-title {
    @extend .block-steps__1-title;
    margin-top: 30px;
    font-family: "Hind Siliguri Bold";
    margin-left: 25px;

    &::before {
        @extend .block-steps__1-title::before;
    }

    &::after {
        @extend .block-steps__1-title::after;
    }
}

.block-steps__1-text {
    position: relative;
    height: 78px;
    width: 323px;
    color: $color-dark;
    font-family: $font-family;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 26px;
    margin-left: 37px;
    margin-top: 5px;

    &::before {
        display: block;
        content: "";
        position: absolute;
        top: -8px;
        left: -28px;
        background-color: $color-light;
        box-sizing: $border-box;
        width: 1px;
        height: 120px;
        z-index: 1;
    }
}

.block-steps__2-text {
    @extend .block-steps__1-text;
    margin-top: 5px;

    &::before {
        @extend .block-steps__1-text::before;
        height: 120px;
    }
}

.block-steps__3-text {
    height: 52px;
    width: 320px;
    color: $color-dark;
    font-family: $font-family;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 26px;
    margin: 5px 0 0 37px;
}

.block-steps__li-num {
    font-weight: normal;
}

.footer {
    padding-top: 6px;
    position: sticky;
    bottom: 0;
    height: 71px;
    width: 1440px;
    background-color: $color-lightf8;
    z-index: 3;

    .footer__underline {
        height: 1px;
        width: 1440px;
        background-color: $color-light-x1;
        margin-top: -12px;
    }
    
    .footer__wrapper {
        @include displayFlexJustifyContent;
        margin-top: 22px;
    }
    
    .footer__social-networks {
        @include displayFlexJustifyContent;
        margin: 0;
        width: 110px;
        list-style-type: none;
    }
    
    .footer__title {
        height: 28px;
        width: 83px;
        color: $color-dark-x1;
        font-family: "Hind Siliguri Bold";
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        margin: -2px 0 0 60px;
    }
    
    .footer__rights {
        height: 25px;
        color: $color-dark-x2;
        font-family: $font-family;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 25px;
    }
}