$bg-image: url(../img/bg.jpg);

$color-black: black;
$color-dark: #4D4949;
$color-dark-x1: #4D4C49;
$color-dark-x2: #333333;
$color-dark-x3: #393737;
$color-dark-x4: #494A4D;
$color-dark-x5: #6d6d6d;
$color-grey: #818181;
$color-white: #FFFFFF;
$color-light: #DDDDDB;
$color-light-x1: #DDDDDD;
$color-light-x2: #F0EADF;
$color-lightf8: #F8F8F8;
$color-pink: #FFB0B0;
$color-light-blue: #B0D1FF;

$gradient-to-green: linear-gradient(108.56deg, rgba(230,246,65,0.5) 0%, rgba(41,252,154,0.5) 100%);
$gradient-to-blue: linear-gradient(236.77deg, rgba(247,247,247,0.5) 0%, rgba(35,86,255,0.5) 100%);
$gradient-to-red: linear-gradient(236.42deg, rgba(255,255,255,0.5) 0%, rgba(255,9,9,0.5) 100%);

$border-box: border-box;
$size-24px: 24px;
$font-family: 'Hind Siliguri';